/* Basic styling */
body {
  font-family: "Arial", sans-serif;
  background-image:url(image/background.jpg);
  color: #ffffff;
}

#starships-section,
#species-section {
  margin-bottom: 30px;
}

.starship,
.species {
  margin-bottom: 15px;
}
